* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1796px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    background: linear-gradient(135deg, #ed242e 0%);
    display: flex;
    gap: 70px;
    width: 90%;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    z-index: 1;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: opacity 0.3s;
    text-align: center;
}

.nav-links a:nth-child(4) {
    position: relative;


}

.nav-links a:nth-child(4)::after {
    content: url(images/Untitled.png);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #ed242e;
    top: -70%;
    left: 50%;
    transform: translateX(-50%);
    align-content: end;
    z-index: -1;

}

.nav-links a:hover {
    opacity: 0.8;
}

.user-icon {
    color: white;
    font-size: 17px;
    background: linear-gradient(135deg, #1a1a1a 0%);
    width: 5%;
    align-content: center;
    text-align: center;
    padding: 20px 0;
}

/* Hero Section */
.hero {
    background-image: url('images/inner-banner.jpg');
    padding: 100px 0px;
    overflow: hidden;
    min-height: 823px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .container {
    max-width: 100%;
}

.hero-content {
    max-width: 1190px;
    margin: 0 auto;
}

.hero h1 {
    color: white;
    font-size: 89px;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 1.2;
    font-weight: bold;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn-primary {
    background: #ff4757;
    color: white;
    padding: 18px 45px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.btn-primary:hover {
    background: white;
    color: black;
    border: 2px solid #1a1a1a;
}

.btn-secondary {
    background: white;
    color: #2c3e50;
    padding: 18px 45px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.btn-secondary:hover {
    background: #ff4757;
    color: white;
}

/* About Section */
.about-section {
    z-index: 1;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);

}

.about-section .container {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 35px;
    align-content: center;
    width: 1590px;
    padding: 100px;


}

.about-section .container .about-wrap {
    display: flex;
    gap: 100px;
}

.about-content {
    align-content: center;
}

.about-content h2 {
    color: #2c3e50;
    font-size: 36px;
    display: inline-block;
    position: relative;
}

.about-content h2::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #ed242e;
    left: 0;
    bottom: -5px;

}

.about-content p {
    color: #666;
    line-height: 1.8;
    padding-bottom: 40px;
    padding-top: 40px;
}

.btn-primary-tow {
    padding: 25px 85px;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
}
.btn-primary-tow:hover{
    border: 2px solid #1a1a1a;
    background-color: white;
    color: black;
}
.about-image {
    min-width: 300px;
    text-align: right;
    padding-left: 100px;
}

.about-image img {
    height: 350px;

}

/* Info Section */
.info-section {
    padding: 80px 50px;
    align-items: center;
    margin-top: 540px;
}

.info-section .container {
    display: flex;
    width: 1214px;
    gap: 70px;
}

.info-illustration {
    width: 650px;
    padding-right: 40px;
}

.info-text {
    padding-left: 40px;
    min-width: 300px;
    align-content: center;
}

.info-text h2 {
    color: #2c3e50;
    font-size: 32px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: bold;
}

.info-text p {
    color: #666;
    line-height: 1.8;
    padding-bottom: 30px;
    padding-bottom: 30px;
}

/* Protection Section */
.protection-section .container {
    max-width: 1796px;
    text-align: center;
}

.protection-section h2 {
    color: black;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.protection-section p {
    color: black;
    margin: 0 auto 50px;
    line-height: 1.8;
}

.card-p {
    background-image: url('images/bg-p.png');
    display: cover;
    background-repeat: no-repeat;
    min-height: 813px;
    align-content: center;
}

.protection-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.protection-card {
    background: white;
    padding: 40px 30px;
    border-radius: 15px;
}

.protection-card h3 {
    color: #2c3e50;
    margin: 20px 0 15px;
    font-size: 20px;
}

.protection-card p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.protection-card button {
    padding: 18px 45px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.card-btn.red {
    background: #ff4757;
}

/* Cases Section */
.cases-section {
    padding: 80px 50px;
    background: white;
    text-align: center;
}

.cases-section h2 {
    color: black;
    font-size: 45px;
    padding-bottom: 20px;
}

.cases-section p {
    color: #666;
    max-width: 850px;
    line-height: 1.8;
    margin: 0 auto;
    padding-bottom: 30px;
}

.cases-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.case-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative;
}

.case-card::after {
    content: url('images/virous.png');
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -61px;
    left: 50%;
    transform: translateX(-50%);
}

.case-image {
    height: 200px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.case-content {
    padding: 45px;
    text-align: center;
}

.case-content h3 {
    color: #2c3e50;
    font-size: 22px;
    margin-bottom: 15px;
}

.case-content p {
    color: #666;
    line-height: 1.7;
}

/* Doctors Section */
.doctors-section {
    padding: 80px 50px;
    text-align: center;
}

.doctors-section h2 {
    color: black;
    font-size: 45px;
    margin-bottom: 95px;
    text-transform: capitalize;
}

.doctors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.doctor-card {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 410px;
    align-content: center;
}
.doctor-card img{
    position: absolute;
    top: -64px;
    left: 50%;
    transform: translateX(-50%);
}
.doctor-card h4 {
    color: #2c3e50;
    font-size: 18px;
    margin: 20px 0 15px;
}

.doctor-card p {
    color: #666;
    line-height: 1.7;
}

/* Subscribe Section */
.subscribe-section{
    text-align: center;
    padding-top: 50px;
}
.bg-img {
    background: url('images/fg.jpg');
    padding: 100px 50px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.subscribe-section .container{
    max-width: 1174px;

}
.subscribe-section input{
    display: block;
    width: 100%;
    padding: 25px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    background-color: transparent;
    color: white;
    margin-bottom: 30px;
    font-size: 20px;
}
.subscribe-section h2 {
    color: black;
    font-size: 45px;
    margin-bottom: 30px;
}

.subscribe-btn {
    background: #2c3e50;
    color: white;
    padding: 18px 45px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    transition: transform 0.3s;
}

.subscribe-btn:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background: url('images/footer.jpg');
    color: white;
    padding: 118px 50px 30px;
}
footer .container{
    max-width: 1104px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 30px;
    text-align: center;
}
.footer-column{
    text-align: left;
}
.footer-column h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
}

.footer-column li {
    margin-bottom: 10px;
    color: #999;
    font-size: 17px;
}
.footer-column p{
    padding-top: 16px;
    color: #999;
    font-size: 17px;
}
.footer-bottom {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #333;
    color: #666;
    font-size: 13px;
}




.owl-theme .owl-dots {
    display: none !important;
}

button.owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #ed242e !important;
    color: white !important;
    width: 75px !important;
    height: 130px;
    border-radius: 0 60px 60px 0 !important;
    margin: 0 !important;
    font-size: 80px !important;
    align-content: center !important;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #ed242e !important;
    color: white !important;
   width: 75px !important;
    height: 130px;
    border-radius:  60px 0 0 60px !important;
    margin: 0 !important;
    font-size: 80px !important;
    align-content: center !important;
}

.slider-section .container {
    max-width: 100%;
    position: relative;
}

.slider-section .container h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    margin-top: 40px;
    font-size: 41px;
    font-weight: 700;
}

.slider-section .container .owl-carousel .item img {
    width: 100%;
    display: block;
}

/* end slider section */
